header.header 
	.container 
		.header-body
			.header__left
				button.btn-burger
					span 
			.header__center 
				a(href="/").site-logo
					img(src="@img/svg/logo.svg", alt="Jadwalin")
			.header__right 
				button.btn.btn-sm.join-now-button Join Now